<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
  </head>
  <body id="<%= canonical_id @page %>" class="<%= view_template_class @page %>">
<!--     <%= site_bar -%> -->
    <div id="page_container">
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>
      <section id="page">
        <%= yield %>
      </section>
        <div class="wrapper clearfix">
    <main>
      <article class="article">
        <section class="heading-first">
          <h1>見出しレベル１見出しレベル１見出しレベル１見出しレベル１見出しレベル１見出しレベル１見出しレベル１</h1>
          <div class="article-info">
            <div class="article-category">
              <a href="#" class="article-category-item">カテゴリ１</a>
            </div>
            <p class="article-date"><time datetime="2017-07-07 19:00">2017年7月7日19時00分</p>
            <a href="#" class="favorite article-favorite">お気に入り追加</a>
          </div>
          <img class="article-banner" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2fladia_logo_bk.png" alt="見出し画像">
          <p class="article-summary">ここにテキストが入っていきます。ここは本文のエリアになる予定です。ここにテキストが入っていきます。ここは本文のエリアになる予定です。ここにテキストが入っていきます。ここは本文のエリアになる予定です。</p>
        </section>
        <section class="heading-second">
          <h2>見出しレベル２見出しレベル２見出しレベル２見出しレベル２見出しレベル２見出しレベル２見出しレベル２</h2>
          <p>ここにテキストが入っていきます。ここは本文のエリアになる予定です。ここにテキストが入っていきます。ここは本文のエリアになる予定です。ここにテキストが入っていきます。ここは本文のエリアになる予定です。</p>
          <h3>見出しレベル３見出しレベル３見出しレベル３見出しレベル３見出しレベル３見出しレベル３見出しレベル３</h3>
          <p>ここにテキストが入っていきます。ここは本文のエリアになる予定です。ここにテキストが入っていきます。ここは本文のエリアになる予定です。ここにテキストが入っていきます。ここは本文のエリアになる予定です。</p>
        </section>
        <section class="heading-second">
          <h2>見出しレベル２見出しレベル２見出しレベル２見出しレベル２見出しレベル２見出しレベル２見出しレベル２</h2>
          <p>ここにテキストが入っていきます。ここは本文のエリアになる予定です。ここにテキストが入っていきます。ここは本文のエリアになる予定です。ここにテキストが入っていきます。ここは本文のエリアになる予定です。</p>
          <h3>見出しレベル３見出しレベル３見出しレベル３見出しレベル３見出しレベル３見出しレベル３見出しレベル３</h3>
          <p>ここにテキストが入っていきます。ここは本文のエリアになる予定です。ここにテキストが入っていきます。ここは本文のエリアになる予定です。ここにテキストが入っていきます。ここは本文のエリアになる予定です。</p>
        </section>
        <section class="heading-second">
          <h2>見出しレベル２見出しレベル２見出しレベル２見出しレベル２見出しレベル２見出しレベル２見出しレベル２</h2>
          <p>ここにテキストが入っていきます。ここは本文のエリアになる予定です。ここにテキストが入っていきます。ここは本文のエリアになる予定です。ここにテキストが入っていきます。ここは本文のエリアになる予定です。</p>
          <h3>見出しレベル３見出しレベル３見出しレベル３見出しレベル３見出しレベル３見出しレベル３見出しレベル３</h3>
          <p>ここにテキストが入っていきます。ここは本文のエリアになる予定です。ここにテキストが入っていきます。ここは本文のエリアになる予定です。ここにテキストが入っていきます。ここは本文のエリアになる予定です。</p>
        </section>
      </article>
    </main>
    <div class="sidemenu clearfix">
      <div class="classify clearfix">
        <h2 class="heading">FLOWER SEARCH｜花・植物をさがす</h2>
        <ul>
          <li>
            <a class="classify-image" href="#"><img src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="誕生花"></a>
            <a class="classify-name" href="#">誕生花</a>
          </li>
          <li>
            <a class="classify-image" href="#"><img src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="誕生花"></a>
            <a class="classify-name" href="#">誕生花</a>
          </li>
          <li>
            <a class="classify-image" href="#"><img src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="誕生花"></a>
            <a class="classify-name" href="#">誕生花</a>
          </li>
          <li>
            <a class="classify-image" href="#"><img src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="誕生花"></a>
            <a class="classify-name" href="#">誕生花</a>
          </li>
          <li>
            <a class="classify-image" href="#"><img src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="誕生花"></a>
            <a class="classify-name" href="#">誕生花</a>
          </li>
          <li>
            <a class="classify-image" href="#"><img src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="誕生花"></a>
            <a class="classify-name" href="#">誕生花</a>
          </li>
        </ul>
      </div>
      <aside class="ad">
        <a class="ad-image">
          <img src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="google ad">
        </a>
      </aside>
      <div class="populartag clearfix">
        <h2 class="heading">POPULAR TAGS｜人気・おすすめタグ</h2>
        <ul>
          <li>
            <a class="populartag-item" href="#"><i class="fa fa-tag"></i>タグ見本</a>
          </li>
          <li>
            <a class="populartag-item" href="#"><i class="fa fa-tag"></i>タグ見本です</a>
          </li>
          <li>
            <a class="populartag-item" href="#"><i class="fa fa-tag"></i>タグ見本です</a>
          </li>
          <li>
            <a class="populartag-item" href="#"><i class="fa fa-tag"></i>タグ</a>
          </li>
          <li>
            <a class="populartag-item" href="#"><i class="fa fa-tag"></i>タグ見本</a>
          </li>
          <li>
            <a class="populartag-item" href="#"><i class="fa fa-tag"></i>タグ見本です</a>
          </li>
          <li>
            <a class="populartag-item" href="#"><i class="fa fa-tag"></i>タグ</a>
          </li>
          <li>
            <a class="populartag-item" href="#"><i class="fa fa-tag"></i>タグです</a>
          </li>
          <li>
            <a class="populartag-item" href="#"><i class="fa fa-tag"></i>タグ見本</a>
          </li>
        </ul>
      </div>
      <div class="ranking clearfix">
        <h2 class="heading">ARTICLE RANKING｜人気記事ランキング</h2>
        <ol class="ranking-list">
          <li class="ranking-item">
            <a href="#">
              <img class="ranking-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="サムネイル">
              <h3 class="ranking-article-title">カーネーションについて知るならこの記事！花言葉・お手入れ方法まとめ！</h3>
              <p class="ranking-article-category">カテゴリ１</p>
              <p class="ranking-article-view">9,999,999 views</p>
              <div class="ranking-article-badge"></div>
            </a>
          </li>
          <li class="ranking-item">
            <a href="#">
              <img class="ranking-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="サムネイル">
              <h3 class="ranking-article-title">カーネーションについて知るならこの記事！花言葉・お手入れ方法まとめ！</h3>
              <p class="ranking-article-category">カテゴリ１</p>
              <p class="ranking-article-view">9,999,999 views</p>
              <div class="ranking-article-badge">
                <span class="raking-article-number"></span>
              </div>
            </a>
          </li>
          <li class="ranking-item">
            <a href="#">
              <img class="ranking-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="サムネイル">
              <h3 class="ranking-article-title">カーネーションについて知るならこの記事！花言葉・お手入れ方法まとめ！</h3>
              <p class="ranking-article-category">カテゴリ１</p>
              <p class="ranking-article-view">9,999,999 views</p>
              <div class="ranking-article-badge">
                <span class="raking-article-number"></span>
              </div>
            </a>
          </li>
          <li class="ranking-item">
            <a href="#">
              <img class="ranking-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="サムネイル">
              <h3 class="ranking-article-title">カーネーションについて知るならこの記事！花言葉・お手入れ方法まとめ！</h3>
              <p class="ranking-article-category">カテゴリ１</p>
              <p class="ranking-article-view">9,999,999 views</p>
              <div class="ranking-article-badge">
                <span class="raking-article-number"></span>
              </div>
            </a>
          </li>
          <li class="ranking-item">
            <a href="#">
              <img class="ranking-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="サムネイル">
              <h3 class="ranking-article-title">カーネーションについて知るならこの記事！花言葉・お手入れ方法まとめ！</h3>
              <p class="ranking-article-category">カテゴリ１</p>
              <p class="ranking-article-view">9,999,999 views</p>
              <div class="ranking-article-badge">
                <span class="raking-article-number"></span>
              </div>
            </a>
          </li>
        </ol>
      </div>
      <div class="category clearfix">
        <h2 class="heading">Category List｜カテゴリ一覧</h2>
        <ul class="category-list">
          <li><a href="#">カテゴリ１ ()</a>
            <ul class="category-list-second">
              <li><a href="#">カテゴリ２ ()</a></li>
              <li><a href="#">カテゴリ２ ()</a></li>
              <li><a href="#">カテゴリ２ ()</a></li>
            </ul>
          </li>
          <li><a href="#">カテゴリ１ ()</a>
            <ul class="category-list-second">
              <li><a href="#">カテゴリ２ ()</a></li>
              <li><a href="#">カテゴリ２ ()</a></li>
              <li><a href="#">カテゴリ２ ()</a></li>
            </ul>
          </li>
          <li><a href="#">カテゴリ１ ()</a>
            <ul class="category-list-second">
              <li><a href="#">カテゴリ２ ()</a></li>
              <li><a href="#">カテゴリ２ ()</a></li>
              <li><a href="#">カテゴリ２ ()</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--ここからソーシャルリンク-->
      <div class="social">
        <h2 class="heading">MORE FlaDia & Flowers｜FlaDiaをフォロー</h2>
        <div class="social-group">
          <a href="#" class="social-icon social-icon-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#" class="social-icon social-icon-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="#" class="social-icon social-icon-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#" class="social-icon social-icon-pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
          <a href="#" class="social-icon social-icon-line">LINE</a>
        </div>
        <div class="social-window">
          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffladelimedia%2F&tabs&width=300&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
      </div>
    </div>
    <!--ここからフラワーリスト-->
    <div class="flowerlib">
      <h2 class="heading">POPULAR FLOWERS｜いま注目されているフラワーリスト</h2>
      <ol class="flowerlib-list">
        <li class="flowerlib-item">
          <a href="#">
            <img class="flowerlib-item-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="花の名前">
            <div class="flowerlib-item-box">
              <h3 class="flowerlib-item-box-name">カーネーション</h3>
              <p class="flowerlib-item-box-lang">花言葉</p>
              <p class="flowerlib-item-box-lang-detail">無垢で深い愛・母への愛</p>
            </div>
          </a>
        </li>
        <li class="flowerlib-item">
          <a href="#">
            <img class="flowerlib-item-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="花の名前">
            <div class="flowerlib-item-box">
              <h3 class="flowerlib-item-box-name">カーネーション</h3>
              <p class="flowerlib-item-box-lang">花言葉</p>
              <p class="flowerlib-item-box-lang-detail">無垢で深い愛・母への愛</p>
            </div>
          </a>
        </li>
        <li class="flowerlib-item">
          <a href="#">
            <img class="flowerlib-item-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="花の名前">
            <div class="flowerlib-item-box">
              <h3 class="flowerlib-item-box-name">カーネーション</h3>
              <p class="flowerlib-item-box-lang">花言葉</p>
              <p class="flowerlib-item-box-lang-detail">無垢で深い愛・母への愛</p>
            </div>
          </a>
        </li>
        <li class="flowerlib-item">
          <a href="#">
            <img class="flowerlib-item-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="花の名前">
            <div class="flowerlib-item-box">
              <h3 class="flowerlib-item-box-name">カーネーション</h3>
              <p class="flowerlib-item-box-lang">花言葉</p>
              <p class="flowerlib-item-box-lang-detail">無垢で深い愛・母への愛</p>
            </div>
          </a>
        </li>
        <li class="flowerlib-item">
          <a href="#">
            <img class="flowerlib-item-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="花の名前">
            <div class="flowerlib-item-box">
              <h3 class="flowerlib-item-box-name">カーネーション</h3>
              <p class="flowerlib-item-box-lang">花言葉</p>
              <p class="flowerlib-item-box-lang-detail">無垢で深い愛・母への愛</p>
            </div>
          </a>
        </li>
        <li class="flowerlib-item">
          <a href="#">
            <img class="flowerlib-item-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="花の名前">
            <div class="flowerlib-item-box">
              <h3 class="flowerlib-item-box-name">カーネーション</h3>
              <p class="flowerlib-item-box-lang">花言葉</p>
              <p class="flowerlib-item-box-lang-detail">無垢で深い愛・母への愛</p>
            </div>
          </a>
        </li>
        <li class="flowerlib-item">
          <a href="#">
            <img class="flowerlib-item-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="花の名前">
            <div class="flowerlib-item-box">
              <h3 class="flowerlib-item-box-name">カーネーション</h3>
              <p class="flowerlib-item-box-lang">花言葉</p>
              <p class="flowerlib-item-box-lang-detail">無垢で深い愛・母への愛</p>
            </div>
          </a>
        </li>
        <li class="flowerlib-item">
          <a href="#">
            <img class="flowerlib-item-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="花の名前">
            <div class="flowerlib-item-box">
              <h3 class="flowerlib-item-box-name">カーネーション</h3>
              <p class="flowerlib-item-box-lang">花言葉</p>
              <p class="flowerlib-item-box-lang-detail">無垢で深い愛・母への愛</p>
            </div>
          </a>
        </li>
        <li class="flowerlib-item">
          <a href="#">
            <img class="flowerlib-item-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="花の名前">
            <div class="flowerlib-item-box">
              <h3 class="flowerlib-item-box-name">カーネーション</h3>
              <p class="flowerlib-item-box-lang">花言葉</p>
              <p class="flowerlib-item-box-lang-detail">無垢で深い愛・母への愛</p>
            </div>
          </a>
        </li>
        <li class="flowerlib-item">
          <a href="#">
            <img class="flowerlib-item-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="花の名前">
            <div class="flowerlib-item-box">
              <h3 class="flowerlib-item-box-name">カーネーション</h3>
              <p class="flowerlib-item-box-lang">花言葉</p>
              <p class="flowerlib-item-box-lang-detail">無垢で深い愛・母への愛</p>
            </div>
          </a>
        </li>
        <li class="flowerlib-item">
          <a href="#">
            <img class="flowerlib-item-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="花の名前">
            <div class="flowerlib-item-box">
              <h3 class="flowerlib-item-box-name">カーネーション</h3>
              <p class="flowerlib-item-box-lang">花言葉</p>
              <p class="flowerlib-item-box-lang-detail">無垢で深い愛・母への愛</p>
            </div>
          </a>
        </li>
        <li class="flowerlib-item">
          <a href="#">
            <img class="flowerlib-item-image" src="/system/images/W1siZiIsIjIwMTcvMDcvMTIvM2R2OHFocmQ4a190ZXN0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/test.jpg?sha=4fa2b42ce25c4fd2" alt="花の名前">
            <div class="flowerlib-item-box">
              <h3 class="flowerlib-item-box-name">カーネーション</h3>
              <p class="flowerlib-item-box-lang">花言葉</p>
              <p class="flowerlib-item-box-lang-detail">無垢で深い愛・母への愛</p>
            </div>
          </a>
        </li>
      </ol>
    </div>
  </div>
      <footer>
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
  </body>
</html>
